---
// Layout
import PageLayout from "../layouts/PageLayout.astro";
// Components
import Section from "../components/Section.astro";
// Assets

---

<PageLayout title="Contributors">
  <div class="h-full w-full bg-col-1-light">
    <div class="w-full h-max bg-col-1-light">
      <div class="flex items-center justify-center pt-44 text-3xl font-bold pb-10">
        <span class="text-txt"
          >Website <span class="text-col-3">Contributors</span></span
        >
      </div>
    </div>
    <Section>
     <!-- put the contributors card here -->
    </Section>
  </div>
</PageLayout>
