---
import { Image } from 'astro:assets';
import 'photoswipe/style.css';
// Layout
import PageLayout from "../layouts/PageLayout.astro";


// Components
import Section from "../components/Section.astro";
import PageTitle from "../components/PageTitle.astro";
import SectionTitle from "../components/PageTitle.astro";


// Assets
import HeroImage from "../assets/images/Gallery/371763931_3552112218345113_323716569083109105_n.jpg";
const imageFiles = await Astro.glob('../assets/images/Media/*');
---
<PageLayout title="Media Coverage">
    <img
        src={HeroImage.src}
        alt=""
        class="w-full h-[350px] md:h-[500px] xl:h-[600px] pt-[110px] opacity-[0.95] object-cover"
    />
    <Section>
        <PageTitle primaryText="Media" secondaryText='Coverage'/>
        <SectionTitle primaryText="Our Appearances in" secondaryText="the Media" />
        <p class="text-gray-600 mb-8">
            Networking and Advocacy forms an integral part of Sakhya’s activities. We believe that change and transformation is achieved by working in solidarity. Hence we network with partners at the district level, state level and the national level. This gives Sakhya a platform to work together to effect changes at the policy level.
        </p>
        <div id="gallery" class="md:columns-2 lg:columns-3 xl:columns-5">
            {
                imageFiles.map( image => (
                    <a
                    href={image.default.src}
                    target="_blank">
                      <Image src={image.default} alt="" class="border-8 border-col-3 my-4 w-full"/>
                    </a>
                ))
            }
        </div>
    </Section>
</PageLayout>


<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
        pswpModule: () => import('photoswipe'),
        padding: { top: 20, bottom: 20, left: 20, right: 20 }
    });
    lightbox.addFilter('domItemData', (itemData, _, linkEl) => {
        if (linkEl) {
            itemData.src = linkEl.href;
            itemData.w = Number(linkEl.children[0].clientWidth * 5);
            itemData.h = Number(linkEl.children[0].clientHeight * 5);
        }

        return itemData;
    });
    lightbox.init();
</script>
