<ul>
    <li><a href="#">Strategies</a></li>
    <li><a href="#">Counselling and legal assistance</a></li>
    <li><a href="#">Community Outreach</a></li>
    <li><a href="#">Awareness Campaigns</a></li>
    <li><a href="#">Network and Advocacy</a></li>
  </ul>
  <ul>
    <a href="#">Resources</a>
    <li><a href="#">Brochures</a></li>
    <li><a href="#">Annual Report</a></li>
    <li><a href="#">Hunkar</a></li>
    <li><a href="#">Blogs</a></li>
    <li><a href="#">Publications</a></li>
    <li><a href="#">Media Coverage</a></li>
  </ul>
  <ul>
    <a href="#">Join with us</a>
    <li><a href="#">Student Internship</a></li>
    <li><a href="#">Donation Form</a></li>
    <li><a href="#">Volunteer Form</a></li>
  </ul>
  <ul>
    <a href="#">Gallery</a>
    <li><a href="#">Photos</a></li>
    <li><a href="#">Videos</a></li>
  </ul>