---
import { Image } from 'astro:assets';
// Layout
import PageLayout from "../layouts/PageLayout.astro";

// Components
import Section from "../components/Section.astro";
import PageTitle from "../components/PageTitle.astro";

// Assets
import HeroImage from "../assets/home.png";
const imageFiles = await Astro.glob('../assets/images/Gallery/*');
---

<PageLayout title="Gallery">
    <img
        src={HeroImage.src}
        alt=""
        class="w-full h-[350px] md:h-[500px] xl:h-[700px] pt-[110px] opacity-[0.95] object-cover"
    />
    <Section>
        <PageTitle primaryText="Photo" secondaryText="Gallery" />

        <div class="md:columns-2 lg:columns-3 xl:columns-5">
            {
                imageFiles.map( image => (
                    <Image src={image.default} alt="" class="border-8 border-col-3 my-4"/>
                ))
            }
        </div>
    </Section>
</PageLayout>
