---
import { Image } from 'astro:assets';
// Layout
import PageLayout from "../layouts/PageLayout.astro";

// Components
import Section from "../components/Section.astro";
import PageTitle from "../components/PageTitle.astro";

// Assets
const imageFiles = await Astro.glob('../assets/images/Gallery/*');
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />

<PageLayout title="Gallery">
    <div class="pt-[130px]"></div>
    <Section>
        <PageTitle primaryText="Photo" secondaryText="Gallery" />

        <div class="md:columns-2 lg:columns-3 xl:columns-5">
            {
                imageFiles.map( image => (
										<a href={image.default.src} class="glightbox">
                    	<Image src={image.default} alt="" class="border-8 border-col-3 my-4"/>
										</a>
                ))
            }
        </div>
    </Section>
</PageLayout>

<script type="module" src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js">
import 'https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js';
const lightbox = GLightbox({
    touchNavigation: true,
    loop: true,
    autoplayVideos: true,
    zoomable: true,
});
</script>
