---
// Layout
import PageLayout from "../layouts/PageLayout.astro";
// Components

// Assets
import HeroImage from "../assets/images/History/history.png";
---

<PageLayout title="History">
  <div class="h-full w-full bg-col-1-light">
    <img
      src={HeroImage.src}
      alt=""
      class="w-full h-[350px] md:h-[500px] xl:h-[700px] pt-[110px] opacity-[0.95] object-cover"
    />

    <div class="w-full h-max bg-col-1-light">
      <div class="flex items-center justify-center pt-10 text-3xl font-bold">
        <span class="text-txt"
          >Sakhya <span class="text-col-3">History</span></span
        >
      </div>
    </div>

    <div
      class="flex flex-row items-center justify-center p-20 mt-[-100px] mb-[-180px] pt-24"
    >
      <div class="flex flex-col">
        <div
          class="flex items-center justify-start pt-24 text-2xl font-bold pb-1"
        >
          <span class="text-txt"
            >Nirmala Niketan's Fight for <span class="text-col-3"
              >Human Rights</span
            ></span
          >
        </div>
        <div class="w-[200px] lg:w-[350px] xl:w-[500px] h-[4px] bg-col-4"></div>
        <p
          class="text-sm md:text-base w-[300px] sm:w-[500px] md:w-[600px] lg:w-[900px] xl:w-[1100px] text-justify pt-6 leading-7 xl:leading-8"
        >
          Ever since its inception, the College of Social Work, Nirmala Niketan,
          has emerged as a champion of human rights, believing that social work
          education and responding to the ground reality of human life must go
          hand in hand. During the 1980's when the “dowry” problem received much
          publicity as a source of violence and social injustice to women, the
          College readily responded to the invitation of the District Vigilance
          Commission, Govt. of Maharashtra, to participate in a concerted action
          against dowry violence on women.<br /> This Vigilance Cell initially worked
          under the Collector of Mumbai as Chairperson of the Committee. The Cell
          received funds from the Committee and submitted regular reports of its
          activities. However the official representatives on the Vigilance Cell
          were not able to give the attention required to approach the problem on
          a war-footing as was necessary for change in the system. Hence the college
          project of Sakhya was launched as the Anti-Dowry Guidance Cell of the District
          Vigilance Committee. Sakhya depended on the Committee for the funds to
          appoint professional social workers as well as to meet the expenses of
          the programmes planned by the College.<br /> The efforts made by the College
          under the banner of Sakhya had met with considerable success and new opportunities
          in the field of counselling as well as in recruiting volunteers to support
          the programmes organised, began to open in all directions. More personnel
          were needed to respond to expanding possibilities.
        </p>
      </div>
    </div>

    <div class="flex flex-row items-center justify-center p-20">
      <div class="flex flex-col">
        <div
          class="flex items-center justify-start pt-24 text-2xl font-bold pb-1"
        >
          <span class="text-txt"
            >Sakhya's Transformation in the <span class="text-col-3"
              >Face of Adversity</span
            ></span
          >
        </div>
        <div class="w-[200px] lg:w-[350px] xl:w-[500px] h-[4px] bg-col-4"></div>
        <p
          class="text-sm md:text-base w-[300px] sm:w-[500px] md:w-[600px] lg:w-[900px] xl:w-[1100px] text-justify pt-6 leading-7 xl:leading-8"
        >
          While the Vigilance Committee continued to extend a certain measure of
          financial support to the project, the Sakhya workers felt the need of
          more competent professional members on the Vigilance Cell to guide
          their actions and programmes on the medical, legal and public
          relations aspects of their functioning. Moreover due to frequent
          changes in the appointment of Collectors, meetings were not held
          regularly and eventually the short-term as well as the long-term
          planning of the project became the responsibility of the Co-ordinator
          and Principal of the College. In 1994, the funding from the Vigilance
          Committee was suddenly curtailed with serious repercussions on the
          possibility of continuing the service of the professional social
          workers in the project. In the light of such vacillating support,
          Sakhya was obliged to seek other sources of financial help in order to
          sustain the vision and thrust of the project. Thus did Sakhya embark
          upon the second phase of the project which was marked by the following
          aspirations:
          <ol
            class="list-decimal list-inside text-sm sm:w-[500px] md:text-base w-[300px] md:w-[600px] lg:w-[900px] xl:w-[1100px] text-justify pt-2 leading-7 xl:leading-8"
          >
            <li>
              To broaden the vision of intervention to larger issues concerning
              women, beyond just the problem of dowry
            </li>
            <li>
              To effect a geographical expansion of services for a wider
              outreach to women
            </li>
            <li>
              To network with other organisations for a more effective
              intervention on the curative, preventive and promotional fronts
            </li>
            <li>
              To use media more effectively, to document and create greater
              awareness as a means of education of the public, to draw
              volunteers and to raise funds for the growing needs of the cause
              of women.
            </li>
          </ol>
          <p
            class="text-sm md:text-base w-[300px] sm:w-[500px] md:w-[600px] lg:w-[900px] xl:w-[1100px] text-justify leading-7 xl:leading-8"
          >
            (One would need to develop the various interventions and programmes
            of Sakhya during this second phase till the year 2004 when Sakhya
            was no more a College project and became an independent entity under
            the Nirmala Institute Trust, with the change of address. You would
            have to show how Sakhya has developed gradually with increased staff
            and a widening and varied outreach with newer aspirations and goals.
            I was told to do only the first part which I have.)
          </p>
        </p>
      </div>
    </div>
  </div>
</PageLayout>
