<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Sakhya web page</title>
    <style>
      body {
        background-color: #1c567b;
        /* Choose your desired background color */
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
      }

      .footer-content {
		
      }

      .footer-content ul {
        list-style: none; 
        display: flex;
        justify-content: space-evenly;
        text-decoration: underline;
        text-decoration-color: #81EE9A ;
        text-underline-offset: 10px;
        font-size: 25px;
        font-weight: 600;
        color: white;
        /* Remove default padding */
      }

      .footer-content ul:first-child {
        flex-direction: column; /* Display the first set of links vertically */
      }

      .footer-content ul:last-child {
        flex-direction: column; /* Display the last set of links vertically */
      }

      li {
        position: relative;
      }

      /* Add more CSS rules as needed */
    </style>
  </head>
  <body>
    <footer>
      <div class="footer-content">
        <ul>
          <li><a href="#">About</a></li>
        </ul>
        <ul>
          <li><a href="#">Strategies</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Join with us</a></li>
          <li><a href="#">Gallery</a></li>
        </ul>
        <ul>
          <li><a href="#">Brochures</a></li>
          <li><a href="#">Annual Report</a></li>
          <li><a href="#">Hunkar</a></li>
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Publications</a></li>
          <li><a href="#">Media Coverage</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
