---
// Layout
import PageLayout from "../layouts/PageLayout.astro";
// Components
import Hero from "../components/Hero.astro";
import Partners from "../components/Partners.astro";
import Stories from "../components/Stories.astro";
// Assets
import HeroImage from "../assets/home.png";
const HeroBg = `url(${HeroImage.src})`;
---

<PageLayout>
  <Hero
    bgImg={HeroBg}
    title="Sakhya - Women's Guidance Cell"
    subText="Women empowerment for nation building"
    overlay={true}
  />

  <Partners/>
  <Stories/>
  <div class="h-[500px] w-full"></div>

  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
  ></script>
</PageLayout>
