---
// Layout
import PageLayout from "../layouts/PageLayout.astro";
// Components
import Hero from "../components/Hero.astro";
import Partners from "../components/Partners.astro";
import Stories from "../components/Stories.astro";
import CTA from "../components/cta.astro";
import Strategies from "../components/Strategies.astro";
import Contact from "../components/Contact-us.astro";
import Section from "../components/Section.astro";
import VMO from "../components/VMO.astro";

// Assets
import HeroImage from "../assets/home.webp";
const HeroBg = `url(${HeroImage.src})`;
---

<PageLayout title="Home">
  <Hero
    bgImg={HeroBg}
    title="Sakhya - Women's Guidance Cell"
    subText="Women empowerment for nation building"
    overlay={true}
    overlayOpacity={0.7}
  />

  <!-- <Vision /> -->
  <VMO />
  <Strategies />
  <Partners />
  <Stories />
  <CTA />
  <Section>
    <Contact />
  </Section>

  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
  ></script>
</PageLayout>
