---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Featured Video">
  <section class="flex justify-center py-8">
    <iframe
      width="800"
      height="450"
      src="https://www.youtube.com/embed/Z9hVhERJ7S4"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </section>
</PageLayout>
