---
interface Props {
	class_?: string;
	img: ImageMetadata;
	title: string;
	subtitle?: string;
	txt: string;
}

const { class_, img, title, subtitle, txt } = Astro.props as Props;
---

<div
	class={"my-20 mx-auto flex flex-col rounded-xl text-slate-800 text-center shadow-md " +
		(class_ ? class_ : "")}
>
	<img
		class="relative m-4 overflow-hidden object-cover h-56 rounded-xl text-white shadow-lg shadow-blue-gray-500/40"
		src={img.src}
		alt="image"
	/>
	<div class="p-6">
		<p
			class="mb-2 font-sans text-xl font-semibold leading-snug tracking-wide"
		>
			{title}
		</p>
		<p class="mb-2 font-sans text-sm font-light leading-snug tracking-wide">
			{subtitle}
		</p>
		<p class="pt-4 font-sans text-base leading-relaxed">
			{txt}
		</p>
	</div>
</div>
