---
---

<div
  class="bg-col-4 w-full h-[300px] lg:h-[250px] flex flex-col justify-center items-center md:flex-row z-0"
>
  <div class="pt-[0px] flex flex-col md:flex-row-reverse justify-center items-center w-full">
    <div
      class="flex flex-col md:justify-center items-center h-[150px] md:ml-[120px] md:py-[150px] md:mr-[80px] lg:ml-[0px] lg:w-[400px] w-full xl:w-[700px]"
    >
      <h1
        class="text-col-1 text-2xl self-center font-bold pb-[20px] xl:text-3xl"
      >
        For CSR Support
      </h1>
      <h3 class="text-col-1 text-center xl:text-lg xl:pb-[10px]">write to</h3>
      <a href="mailto:sakhyaorg@gmail.com">
        <h2 class="text-col-1 text-lg text-center pb-[40px] xl:text-xl">
          sakhyaorg@gmail.com
        </h2>
      </a>
    </div>

    <div
      class="flex justify-center md:w-1/2 md:justify-start items-center xl:w-[700px] xl:justify-start"
    >
      <a href="/donation">
        <button
          class="bg-col-1 w-[200px] text-txt h-[30px] rounded-md md:ml-[80px] md:h-[40px] md:rounded-[10px] lg:ml-[150px] font-semibold lg:text-lg lg:w-[250px] lg:h-[50px]"
          >SUPPORT A CAUSE</button
        >
      </a>
    </div>
  </div>
</div>
