<footer class="bg-col-4 dark:bg-col-4 py-[50px] px-[30px]">
  <div class="border-[3px] border-col-2  h-max xl:h-[350px]">
    <div class="mx-auto w-full max-w-screen-xl">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4 xl:grid-cols-5"
      >
        <div>
          <h2 class="mb-2 text-base font-semibold text-[#D9D9D9]">About</h2>
          <div class="h-[3px] w-1/4 bg-col-2 mb-4"></div>
          <ul class="text-[#D9D9D9] font-medium">
            <li class="mb-4">
              <a href="/about" class="hover:text-col-2">About Us</a>
            </li>
            <li class="mb-4">
              <a href="/history" class="hover:text-col-2">Sakhya History</a>
            </li>
            <li class="mb-4">
              <a href="/team" class="hover:text-col-2">Our Team</a>
            </li>
            <li class="mb-4">
              <a href="/trustees" class="hover:text-col-2">Trustees</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-2 text-base font-semibold text-[#D9D9D9]">
            Strategies
          </h2>
          <div class="h-[3px] w-1/4 bg-col-2 mb-4"></div>
          <ul class="text-[#D9D9D9] font-medium">
            <li class="mb-4">
              <a href="/strategy1" class="hover:text-col-2">Counselling & Legal Asst.</a>
            </li>
            <li class="mb-4">
              <a href="/strategy2" class="hover:text-col-2">Community Outreach</a>
            </li>
            <li class="mb-4">
              <a href="/strategy3" class="hover:text-col-2">Awareness Campaigns</a>
            </li>
            <li class="mb-4">
              <a href="/strategy4" class="hover:text-col-2">Networking & Advocacy</a>
            </li>
            <li class="mb-4">
              <a href="/strategy5" class="hover:text-col-2">Trainings</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-2 text-base font-semibold text-[#D9D9D9]">Resources</h2>
          <div class="h-[3px] w-1/4 bg-col-2 mb-4"></div>
          <ul class="text-[#D9D9D9] font-medium">
            <!-- <li class="mb-4">
              <a href="#" class="hover:text-col-2">Brochures</a>
            </li> -->
            <li class="mb-4">
              <a href="/annual-reports" class="hover:text-col-2">Annual Report</a>
            </li>
            <li class="mb-4">
              <a href="/hunkar" class="hover:text-col-2">Hunkar</a>
            </li>
            <!-- <li class="mb-4">
              <a href="#" class="hover:text-col-2">Blogs</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:text-col-2">Publications</a>
            </li> -->
            <li class="mb-4">
              <a href="/coverage" class="hover:text-col-2">Media Coverage</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-2 text-base font-semibold text-[#D9D9D9]">
            Join with us
          </h2>
          <div class="h-[3px] w-1/4 bg-col-2 mb-4"></div>
          <ul class="text-[#D9D9D9] font-medium">
            <!-- <li class="mb-4">
              <a href="#" class="hover:text-col-2">Student Internship</a>
            </li> -->
            <li class="mb-4">
              <a href="/donation" class="hover:text-col-2">Donation Info</a>
            </li>
            <!-- <li class="mb-4">
              <a href="#" class="hover:text-col-2">Volunteer Form</a>
            </li> -->
          </ul>
        </div>
        <div class="">
          <h2 class="mb-2 text-base font-semibold text-[#D9D9D9]">Gallery</h2>
          <div class="h-[3px] w-1/4 bg-col-2 mb-4"></div>
          <ul class="text-[#D9D9D9] font-medium">
            <li class="mb-4">
              <a href="/gallery" class="hover:text-col-2">Photos</a>
            </li>
            <li class="mb-4">
              <a href="/gallery" class="hover:text-col-2">Videos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-center pt-6 mb-[-30px]">
    <span class="text-base text-[#D9D9D9] text-center"
      >Copyright 2023 <a href="/">Sakhya - Women's Guidance Cell </a> |
    </span>
    <span class="text-base text-[#D9D9D9] text-center pl-2"
      >Designed & Developed by <a href="/contributors">NSS-DBIT</a>
    </span>
  </div>
</footer>