---
interface Props {
    bgImg: string;
    title?: string;
    subText?: string;
    overlay: boolean;
    overlayOpacity?: number;
}

const { bgImg, title, subText, overlay, overlayOpacity } = Astro.props as Props;
---

<div class="hero">
    <div class="content z-10">
        {
            title && (
                <h1 class="text-col-4 text-center text-5xl uppercase font-bold mb-2">
                    {title}
                </h1>
            )
        }
        {subText && <p class="text-txt text-center text-3xl">{subText}</p>}
    </div>
    {overlay && <div class="overlay" />}
</div>

<style define:vars={{ bgImg, overlayOpacity }}>
    .hero {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: var(--bgImg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero .overlay {
        position: absolute;
        opacity: var(--overlayOpacity);
        height: inherit;
        width: 100%;
        z-index: 0;
        @apply bg-col-1-light;
    }
</style>
