---
import Partner1 from '../assets/images/partners/manos_unidas.png'
import Partner2 from '../assets/images/partners/rbl_bank.png'
---


<div class="h-[240px] bg-[#F9F8F8] flex flex-col items-center">
    <!-- Reusable Heading Component -->
    <div class="flex items-center justify-center pt-7 text-3xl font-bold">
      <span class="text-txt">Corporate <span class="text-col-3">Partners</span></span>
    </div>
    <!-- Partners logo section -->
    <div class="flex flex-row justify-center items-center pt-[40px] gap-x-[50px]">
      <img src={Partner1.src} class="h-[70px] w-auto" alt="ManosUnidas">
      <img src={Partner2.src} class="h-[50px] w-auto" alt="RblBank">
      <img src={Partner2.src} class="h-[50px] w-auto" alt="RblBank">
    </div>
  </div>