---
import Img1 from "../assets/home.png";
---

<div class="h-[1250px] bg-col-1-light flex flex-col items-center">
  <!-- Reusable Heading Component -->
  <div class="flex items-center justify-center pt-7 text-3xl font-bold">
    <span class="text-txt"
      >Stories of <span class="text-col-3">Change</span></span
    >
  </div>
  <!-- Reusable Story Board -->
  <div
    class="flex flex-row h-[300px] w-[1200px] bg-col-3 rounded-tr-[62px] rounded-tl-[31px] rounded-bl-[31px] mt-[60px]"
  >
    <img src={Img1.src} class="w-[280px] h-[300px] rounded-[31px]" alt="" />
    <div class="flex flex-col items-start justify-start p-10 gap-3">
      <span class="font-bold uppercase text-xl text-txt"
        >Shyama, <span class="uppercase font-normal text-xl text-txt"
          >Haryana</span
        >
      </span>
      <p class="w-[700px] text-txt font-normal text-lg">
        Covid brought many problems with it, both outside and within our home.
        My husband who used to work at a tailoring shop lost his job. It became
        very hard to make ends meet...
      </p>
      <div class="pt-5">
        <button
          type="button"
          class="text-txt bg-col-2 hover:bg-col-1 focus:ring-4 focus:outline-none focus:ring-col-3 font-normal rounded-lg text-md px-11 py-2 text-center"
          >Read More</button
        >
      </div>
    </div>
  </div>
  <div
    class="flex flex-row-reverse h-[300px] w-[1200px] bg-col-3 rounded-tr-[31px] rounded-br-[31px] rounded-tl-[62px] mt-[60px]"
  >
    <div class="flex flex-row items-start justify-end">
      <div class="flex flex-col items-end justify-end p-10 gap-3">
        <span class="font-bold uppercase text-xl text-txt"
          >Yashoda, <span class="uppercase font-normal text-xl text-txt"
            >Karnataka</span
          >
        </span>
        <p class="w-[700px] text-txt font-normal text-lg text-right">
          Before the pandemic, Yashoda was a young mother to a one-year old,
          living with her cab driver husband in Bengaluru. However, her husband
          lost his job in the lockdown...
        </p>
        <div class="pt-5">
          <button
            type="button"
            class="text-txt bg-col-2 hover:bg-col-1 focus:ring-4 focus:outline-none focus:ring-col-3 font-normal rounded-lg text-md px-11 py-2 text-center"
            >Read More</button
          >
        </div>
      </div>
      <img src={Img1.src} class="w-[280px] h-[300px] rounded-[31px]" alt="" />
    </div>
  </div>
  <div
    class="flex flex-row h-[300px] w-[1200px] bg-col-3 rounded-tr-[62px] rounded-tl-[31px] rounded-bl-[31px] mt-[60px]"
  >
    <img src={Img1.src} class="w-[280px] h-[300px] rounded-[31px]" alt="" />
    <div class="flex flex-col items-start justify-start p-10 gap-3">
      <span class="font-bold uppercase text-xl text-txt"
        >Ishwati, <span class="uppercase font-normal text-xl text-txt"
          >Maharashtra</span
        >
      </span>
      <p class="w-[700px] text-txt font-normal text-lg">
        Ishwati was a daily wage labourer living with her family of six in
        Maharashtra. After a day's work her family was barely able to make ends
        meet. When Smile Foundation began its Swabhiman...
      </p>
      <div class="pt-5">
        <button
          type="button"
          class="text-txt bg-col-2 hover:bg-col-1 focus:ring-4 focus:outline-none focus:ring-col-3 font-normal rounded-lg text-md px-11 py-2 text-center"
          >Read More</button
        >
      </div>
    </div>
  </div>
</div>
