---
//components
import Card from "../components/StrategyCard.astro";
//images
import PlaceholderImg from "../assets/Placeholder.jpg";
import Strategy1 from '../assets/images/Strategies/Counselling.webp';
import Strategy2 from '../assets/images/Strategies/CommunityAwareness.jpg';
import Strategy3 from '../assets/images/Strategies/AwarenessCampaigns.webp';
import Strategy4 from '../assets/images/Strategies/NetworkingAdvocacy.jpg';
---

<div
  class="h-max md:h-max lg:h-max xl:h-max bg-col-1-light flex flex-col items-center"
>
  <div class="flex items-center justify-center pt-12 text-3xl font-bold">
    <span class="text-txt">Our <span class="text-col-3">Strategies</span></span>
  </div>
  <div
    class="grid grid-cols-1 my-20 md:grid-cols-2 md:gap-[35px] xl:grid-cols-4 gap-[100px] items-stretch justify-center"
  >
    <a href="/strategy1">
      <Card
        class_={"bg-col-2"}
        img={Strategy1}
        title={"Counselling & Legal Asst"}
        subtitle={""}
        txt={"The focus is empowering women to help themselves, building relationships to tap into personal strengths, enhance coping abilities, and foster community support."}
      />
    </a>
    <a href="/strategy2">
      <Card
        class_={"bg-col-3"}
        img={Strategy2}
        title={"Groups & Communities"}
        subtitle={""}
        txt={"Community work connects Sakhya with the community, influencing clients through understanding. It raises awareness on gender justice and women's rights effectively."}
      />
    </a>
    <a href="/strategy3">
      <Card
        class_={"bg-col-2"}
        img={Strategy3}
        title={"Awareness Campaigns"}
        subtitle={""}
        txt={"Campaigning activities aim to raise mass awareness on gender discrimination and violence by reaching out to a broader audience effectively."}
      />
    </a>
    <a href="/strategy4">
      <Card
        class_={"bg-col-3"}
        img={Strategy4}
        title={"Networking & Advocacy"}
        subtitle={""}
        txt={"Networking boosts the organization's credibility. Sakhya leverages connections with systems and institutions to promote accountability among service providers."}
      />
    </a>
  </div>
</div>
