---
import VisionImg from "../assets/Vision.png"
import MissionImg from "../assets/Mission.png"
import ObjectiveImg from "../assets/Objective.png"
---

<div class="bg-col-4 w-full h-[800px]  flex flex-col justify-center items-center justify-evenly">
   <div class="flex flex-row items-end"><div class="bg-col-3 w-[270px] h-[150px] flex flex-col rounded-tl-[30px] flex  ">
      <div>
         <h1 class="ml-[20px] mt-[10px] text-lg underline underline-offset-[5px] decoration-2">Our<span> Vision</span></h1>
      </div>
      <div class="flex flex-col text-xs ml-[20px] pt-[10px] w-[150px]">
         A society where gender justice and gender equality will contribute to enable women to live with human dignity.
      </div>
      <div>

      </div>
    </div>
    
</div>
    <div class="bg-col-1-light w-[270px] h-[150px]  rounded-tr-[30px] z-10">
    
   </div>
   <div class="flex flex-row items-end"><div class="bg-col-3 w-[270px] h-[150px] flex flex-col rounded-tl-[30px] flex  ">
      <div>
         <h1 class="ml-[20px] mt-[10px] text-lg underline underline-offset-[5px] decoration-2">Our<span> Vision</span></h1>
      </div>
      <div class="flex flex-col text-xs ml-[20px] pt-[10px] w-[150px]">
         A society where gender justice and gender equality will contribute to enable women to live with human dignity.
      </div>
      <div>

      </div>
    </div>

</div>